﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target="#myNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                @*<img id="logo_img" src="@Url.Content("/Img/logo.jpg")" width="50px" heigh="20px"/>*@
                Harambe
            </a>
            
        </div>

        <div class="collapse navbar-collapse" id="myNavBar">

            <ul class="nav navbar-nav" id="Navegacion">
                <li><a href="#">Populares</a></li>
                <li><a href="#">Nuevos</a></li>
            </ul>

            <ul class="nav navbar-nav" id="Secciones">
                <li class="dropdown">
                    <a class="dropdown-toggle"
                       data-toggle="dropdown" href="#">Secciones<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        @Html.Action("IndexPartial","Secciones")
                    </ul>
                </li>
                @*Deberian ser las secciones mas populares*@
                @Html.Action("IndexPartial", "Secciones")
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a class="dropdown-toggle"
                       data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-search"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <!-- Buscar!!! -->
                            <input type="text" />
                        </li>
                    </ul>
                </li>
                <!--CASO CONDICIONAL SI NO EXISTE USUARIO-->
                <li><a href="#"><span class="glyphicon glyphicon-user"></span>Sign up</a></li>
                <!--CASO CONDICIONAL SI EXISTE USUARIO-->
                <!--NOTIFICACIONES-->
                <li class="dropdown">
                    <a class="dropdown-toggle"
                       data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-bell"></span></a>
                    <ul class="dropdown-menu">
                        <!--Parcial de notificaciones-->
                        <li>
                            <a href="#">Notificacion 1</a>
                            <a href="#">Notificacion 2</a>
                            <a href="#">Notificacion 3</a>
                        </li>
                    </ul>
                </li>
                <!--MENU DE USUARIO-->
                <li class="dropdown">
                    <a class="dropdown-toggle"
                       data-toggle="dropdown" href="#">Imagen del usuario (rounded)</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Mi Perfil</a></li>
                        <li><a href="#">Configuracion</a></li>
                        <li><a href="#">Log out</a></li>
                    </ul>
                </li>
                <li><button class="btn btn-primary btn-lg">Upload</button></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
